    <div id="content-bucket">	
		<h1 class="tac">Please fill up following details to Sign Up. All fields are mandatory.</h1>
	  	
		<% form_for :user, :url => {:controller => 'user', :action => 'create'}, :html => {:id => "registration"} do |f| -%>
			
			<% if flash[:notice] || flash[:error]%>
				<div>
					<p style="color: #008000; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center;"><%= flash[:notice] %></p>
					<p style="color: #FD6818; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:center;"><%= flash[:error] %></p>
				</div>			
			<%end%>
			
          	<div>
            	<%= f.label :full_name, 'Full Name'%>
            	<%= f.text_field :user_name %>
           	</div>
		  	<div>
            	<%= f.label :user_Id, 'User ID' %>
            	<%= f.text_field :user_id %>
			</div>
		  	<div>
            	<%= f.label :password, 'Password' %>
            	<%= f.password_field :password %>
			</div>	
		  	<div>
            	<%= f.label :email, 'Email' %>
            	<%= f.text_field :email %>
          	</div>
			<div>
            	<label for="email">Human Authentication</label>
            	<div id="captcha"><%= show_simple_captcha(:label=>"Type the code from the Image", :distortion => 'medium')%></div>
          	</div>
			<div>
			    <label>&nbsp;</label>
			    <!--<input name="submit" type="submit" class="button" value="Sign Up" />-->
				<%= f.submit 'SignUp', :class => "button"%>
	        </div>		  	
			<div id="last">
				<label class="h50">&nbsp;</label>
				<span class="bodytext"><%= link_to "Back", {:controller => "home"}, :style => "font-weight:bold" %></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="bodytext"><%= link_to "Sign In", {:controller => "home"}, :style => "font-weight:bold" %></span>
	      	</div>
	  <% end %>
	
      <div id="clearfix" class="pb50"></div>
	</div>