<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>AndolaSoft eReminder</title>
  	<%#= stylesheet_link_tag 'scaffold' %>
  	<%= stylesheet_link_tag 'global' %>
	<%= stylesheet_link_tag 'elements' %>
</head>
<body>
<!--<p style="color: #CC0000;"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>-->
<%= render :partial => 'layouts/header'%>

<%= yield %>

<%= render :partial => 'layouts/footer'%>

<%= javascript_include_tag 'ga' %>
</body>
</html>
